<adb-navbar-view></adb-navbar-view>
<div class="app-container">
  <div class="sidebar">
    <nav class="tabs">
      <a href="#" class="tab active" data-tab-target="#population">
        <span class="tab-name">Population</span>
        <i class="icon-group"></i>
      </a>
      <a href="#" class="tab" data-tab-target="#economy">
        <span class="tab-name">Economy</span>
        <i class="icon-briefcase"></i>
      </a>
      <a href="#" class="tab" data-tab-target="#transportation">
        <span class="tab-name">Transportation</span>
        <i class="icon-bus"></i>
      </a>
      <a href="#" class="tab" data-tab-target="#education">
        <span class="tab-name">Education</span>
        <i class="icon-book"></i>
      </a>
      <a href="#" class="tab" data-tab-target="#education">
        <span class="tab-name">Ulaanbaatar</span>
        <i class="icon-mongolia"></i>
      </a>
    </nav>
    <div class="tab-panes">
      <div class="tab-pane active" id="population">
        <h4 class="tab-pane-heading">Population</h4>
        <div class="tab-pane-body">
          <div class="layer-selector">
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Population Density
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Age
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Occupation
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Earnings
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Male to female
            </a>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="economy">
        <h4 class="tab-pane-heading">Economy</h4>
        <div class="tab-pane-body">
          <div class="layer-selector">
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Economy data set 1
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Economy data set 2
            </a>
            <a href="#" class="layer-toggle">
              <span class="layer-toggle-indicator"></span>
              Economy data set 3
            </a>
          </div>
        </div>
      </div>

      <!-- ... Other Tab Panes -->
    </div>
  </div>
  <div id="map" class="map">
  </div>
</div>
