<adb-navbar-view></adb-navbar-view>
<div class="app-container">
  <div class="sidebar">
    <nav class="tabs">
      <a href="#" class="tab"
         ng-click="$ctrl.tabClicked($event, key)"
         ng-repeat="(key, section) in $ctrl.config.mapSections"
         ng-class="{'active': key === $ctrl.activeTab}">
        <span class="tab-name">{{ ::section.title }}</span>
        <i ng-class="section.icon"></i>
      </a>
    </nav>
    <div class="tab-panes">
      <div class="tab-pane"
           ng-repeat="(key, section) in $ctrl.config.mapSections"
           ng-class="{'active': key === $ctrl.activeTab}">
        <h4 class="tab-pane-heading">{{ ::section.title }}</h4>
        <div class="tab-pane-body">
          <div class="layer-selector">
            <a href="#" class="layer-toggle"
               ng-repeat="vis in section.visualizations"
               ng-click="$ctrl.onVisSelected(vis)"
               ng-class="{'active': $ctrl.activeVis.id === vis.id}">
              <span class="layer-toggle-indicator"></span>
              {{ ::vis.title }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="map">
  </div>
</div>
