<!-- PAGE HEADER -->
<header class="page-header home">
  <nav>
    <div class="container">
      <a href=""><img src="" alt="" class="brand"></a>
      <ul class="navigation pull-right">
        <li><adb-language-switcher></adb-language-switcher></li>
      </ul>
    </div>
  </nav>
  <div class="header-content">
    <div class="container">
      <div class="text-center">
        <h1 translate="MONGOLIA"></h1>
        <h2 class="h4 font-alt" translate="GEOGRAPHIC_DATA_VIEWER"></h2>
      </div>
    </div>
  </div>
</header>
<!-- END PAGE HEADER -->

<main>
  <!-- NATIONAL DATA SECTION -->
  <section>
    <div class="container">
      <div class="panel">
        <div class="panel-icon">
          <i class="icon-eastasia color-secondary"></i>
        </div>
        <div class="panel-content">
          <h2>
            <small class="font-alt">MONGOLIA : EAST ASIA</small>
            NATIONAL DATA
          </h2>
          <p class="font-alt long-lat">46.0000° N , 105.0000° E</p>
          <p>Data that is available nationally, organized at the Soum level. Explore thematic maps by topics: population, economy, transportation, and infrastructure.</p>
          <img src="assets/img/national-data-img.png" alt="">
        </div>
        <a ui-sref="map" class="btn overlay-btn btn-secondary">DISCOVER<br>NATIONAL<br>DATA <i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <!-- END NATIONAL DATA SECTION -->

  <!-- CAPITAL DATA SECTION -->
  <section>
    <div class="container">
      <div class="panel">
        <div class="panel-icon">
          <i class="icon-mongolia color-primary"></i>
        </div>
        <div class="panel-content">
          <h2>
            <small class="font-alt">ULAANBAATAR : MONGOLIA</small>
            ULAANBAATAR DATA
          </h2>
          <p class="font-alt long-lat">47.9200° N , 106.9200° E</p>
          <p>Data that is available nationally, organized at the Soum level. Explore thematic maps by topics: population, economy, transportation, and infrastructure.</p>
          <img src="assets/img/capital-data-img.png" alt="">
        </div>
        <a ui-sref="map" class="btn overlay-btn btn-primary">DISCOVER<br>ULAANBAATAR<br>DATA <i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <!-- END CAPITAL DATA SECTION -->

  <!-- GALLERY SECTION -->
  <section class="section-gallery">
    <div class="half gallery">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
    <div class="half">
      <h2>THE GALLERY</h2>
      <p class="font-alt">35 PHOTOS , 1 COUNTRY</p>
      <p>See the exquisite views that make up our great county. From stoic cityscapes, to serene country side, Mongolia and its people are a wonder to behold.</p>
    </div>
    <a href="" class="btn overlay-btn btn-primary">DISCOVER<br>MONGOLIA’S<br>SCENERY <i class="icon-arrow-right"></i></a>
  </section>
  <!-- END GALLERY SECTION -->
</main>

<!-- PAGE BG -->
<div class="page-bg"></div>
<!-- END PAGE BG -->

<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="panel">
      <img src="" alt="" class="brand">
      <nav>
        <a ui-sref="map">NATIONAL DATA</a>
        <a ui-sref="map">ULAANBAATAR DATA</a>
        <a ui-sref="home">GALLERY</a>
      </nav>
    </div>
    <ul class="credits">
      <li>2016 – All Rights Reserved</li>
      <li>Supported by Asian Development Bank</li>
      <li>In Partnership with ...</li>
    </ul>
  </div>
</footer>
<!-- END FOOTER -->
