<!-- PAGE HEADER -->
<header class="page-header home">
  <nav>
    <div class="container">
      <a ui-sref="home" class="brand"><img src="assets/img/adb-logo.png" alt=""></a>
      <ul class="navigation pull-right">
        <li><adb-language-switcher></adb-language-switcher></li>
      </ul>
    </div>
  </nav>
  <div class="header-content">
    <div class="container">
      <div class="text-center">
        <h1 translate="MONGOLIA"></h1>
        <h2 class="h4 font-alt" translate="GEOGRAPHIC_DATA_VIEWER"></h2>
      </div>
    </div>
  </div>
</header>
<!-- END PAGE HEADER -->

<main>
  <!-- NATIONAL DATA SECTION -->
  <section>
    <div class="container">
      <div class="panel">
        <div class="panel-icon">
          <i class="icon-mongolia color-secondary"></i>
        </div>
        <div class="panel-content">
          <h2>
            <small class="font-alt" translate="HOME_NATIONAL_LOCATION"></small>
            <span translate="HOME_NATIONAL_HEADER"></span>
          </h2>
          <p class="font-alt long-lat" translate="HOME_NATIONAL_COORDINATES"></p>
          <p translate="HOME_NATIONAL_BLURB"></p>
          <img src="assets/img/national-data-img.png" alt="">
        </div>
        <a ui-sref="map" class="btn overlay-btn btn-secondary"><span translate="HOME_NATIONAL_CTA"></span><i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <!-- END NATIONAL DATA SECTION -->

  <!-- CAPITAL DATA SECTION -->
  <section>
    <div class="container">
      <div class="panel">
        <div class="panel-icon">
          <i class="icon-mongolia color-primary"></i>
        </div>
        <div class="panel-content">
          <h2>
            <small class="font-alt" translate="HOME_CAPITAL_LOCATION"></small>
            <span translate="HOME_CAPITAL_HEADER"></span>
          </h2>
          <p class="font-alt long-lat" translate="HOME_CAPITAL_COORDINATES"></p>
          <p translate="HOME_CAPITAL_BLURB"></p>
          <img src="assets/img/capital-data-img.png" alt="">
        </div>
        <a ui-sref="ub-map" class="btn overlay-btn btn-primary"><span translate="HOME_CAPITAL_CTA"></span> <i class="icon-arrow-right"></i></a>
      </div>
    </div>
  </section>
  <!-- END CAPITAL DATA SECTION -->
</main>

<!-- PAGE BG -->
<div class="page-bg"></div>
<!-- END PAGE BG -->

<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="panel">
      <img src="assets/img/adb-logo.png" alt="" class="brand">
      <nav>
        <a ui-sref="map" class="text-uppercase" translate="NAVBAR_NATIONAL_DATA"></a>
        <a ui-sref="map" class="text-uppercase" translate="NAVBAR_CAPITAL_DATA"></a>
      </nav>
    </div>
    <ul class="credits">
      <li translate="HOME_CREDITS_COPYRIGHT"></li>
      <li translate="HOME_CREDITS_SUPPORTED_BY"></li>
      <li translate="HOME_CREDITS_PARTNERSHIP"></li>
    </ul>
  </div>
</footer>
<!-- END FOOTER -->
