@media (min-width: 880px) {
	.half {
		width: 48%;
    float: left;

    + .half {
      margin-left: 4%;
    }
	}

  .third {
    width: 31%;
    float: left;

    + .third {
      margin-left: 3.5%;
    }
  }
}


.flex-grid {
  display: flex;
  flex-flow: row wrap;

  .panel {
    flex: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;

    p {
      font-size: 16px;
      line-height: 1.8;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    + .panel {
      margin-left: 2rem;
    }
  }

  @media (max-width: 880px) {
    display: block;

    .panel + .panel {
      margin-left: 0;
    }
  }
}
