<adb-navbar-view></adb-navbar-view>
<div class="data-container">
  <div id="dataMap" class="map">
  </div>
  <main>
    <div class="container">
      <a ui-sref="map" class="pull-right"><i class="icon-arrow-left"></i> Back to Map</a>
      <h1 class="h5 font-alt text-uppercase">Mongolia, Ulaanbaatar, Baganuur</h1>
    </div>

    <!-- PEOPLE Section -->
    <section>
      <div class="container">
        <h2>PEOPLE</h2>
        <div class="flex-grid">
          <div class="panel half">
            <div class="panel-content text-center">
              <h2>28,333</h2>
              <p class="font-alt color-light text-uppercase">Population 2014</p>
            </div>
          </div>
          <div class="panel half">
            <div class="panel-content text-center">
              <h2 class="color-positive">+11,995</h2>
              <p class="font-alt color-light text-uppercase">Pop. Change 1995-2014</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-content text-center">
            Bar Graph comparing population change
          </div>
        </div>
        <div class="flex-grid">
          <div class="panel third">
            <div class="panel-content text-center">
              <h2>0.99%</h2>
              <p class="font-alt color-light text-uppercase">% Share of Mongolia's Population</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="color-positive">+0.19%</h2>
              <p class="font-alt color-light text-uppercase">Change in % share 1995-2014</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="">46 People</h2>
              <p class="font-alt color-light text-uppercase">Population Density per sq. km.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PEOPLE Section -->

    <!-- HOUSEHOLDS Section -->
    <section>
      <div class="container">
        <h2>HOUSEHOLDS</h2>
        <div class="flex-grid">
          <div class="panel half">
            <div class="panel-content text-center">
              <h2>8,272</h2>
              <p class="font-alt color-light text-uppercase">Households 2014</p>
            </div>
          </div>
          <div class="panel half">
            <div class="panel-content text-center">
              <h2 class="color-positive">+1,674</h2>
              <p class="font-alt color-light text-uppercase">HH. Change 1995-2014</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-content text-center">
            Graph comparing change in household
          </div>
        </div>
        <div class="flex-grid">
          <div class="panel third">
            <div class="panel-content text-center">
              <h2>642</h2>
              <p class="font-alt color-light text-uppercase">Herder Households</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="">7.8%</h2>
              <p class="font-alt color-light text-uppercase">Herder % share of Houseshold</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="color-negative">-1.9%</h2>
              <p class="font-alt color-light text-uppercase">Change in Herder % share 1995-2014</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-negative">-1.9%</h2>
              <p class="font-alt color-light text-uppercase">Change in Herder % share 1995-2014</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- HOUSEHOLDS Section -->

    <!-- ECONOMY Section -->
    <section>
      <div class="container">
        <h2>ECONOMY</h2>
        <div class="flex-grid">
          <div class="panel third">
            <div class="panel-content text-center">
              <h2>188</h2>
              <p class="font-alt color-light text-uppercase">Total Number of Enterprises 2014</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="color-positive">+126</h2>
              <p class="font-alt color-light text-uppercase">Change on Number of Enterprises 2000-2014</p>
            </div>
          </div>
          <div class="panel third">
            <div class="panel-content text-center">
              <h2 class="color-positive">2.64</h2>
              <p class="font-alt color-light text-uppercase">Soum Development Index (SDI)</p>
            </div>
          </div>
        </div>
        <div class="flex-grid">
          <div class="panel">
            <div class="panel-content text-center">
              <h2>27</h2>
              <p class="font-alt color-light text-uppercase">Number of manufacturing enterprises 2014</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="text-positive">+15</h2>
              <p class="font-alt color-light text-uppercase">Change in manufacturing enterprises 2000-14</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-negative">15%</h2>
              <p class="font-alt color-light text-uppercase">% population in poverty</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-negative">-13.7%</h2>
              <p class="font-alt color-light text-uppercase">% change in poverty 2002-2011</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ECONOMY Section -->

    <!-- INFRASTRUCTURE Section -->
    <section>
      <div class="container">
        <h2>INFRASTRUCTURE &amp; HOUSING</h2>
        <div class="panel">
          <div class="panel-content text-center">
            Graph
          </div>
        </div>
        <div class="flex-grid">
          <div class="panel">
            <div class="panel-content text-center">
              <h2>32.5%</h2>
              <p class="font-alt color-light text-uppercase">% population living in Ger 2010</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-positive">45.7%</h2>
              <p class="font-alt color-light text-uppercase">% population with indoor sanitation 2010</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-positive">45.7%</h2>
              <p class="font-alt color-light text-uppercase">% population with access to piped water 2010</p>
            </div>
          </div>
        </div>
        <div class="flex-grid">
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-positive">95.4%</h2>
              <p class="font-alt color-light text-uppercase">% population with organized solid waste disposal 2010</p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-content text-center">
              <h2 class="color-positive">59.3%</h2>
              <p class="font-alt color-light text-uppercase">% population with internet access 2010</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- INFRASTRUCTURE Section -->
  </main>
</div>
