<adb-navbar-view></adb-navbar-view>
<div class="data-container">
  <div id="dataMap" class="map">
  </div>
  <main>
    <div class="container">
      <a ui-sref="map" class="pull-right"><i class="icon-arrow-left"></i> Back to Map</a>
      <h1 class="h5 font-alt text-uppercase">Mongolia, {{ $ctrl.soum.metadata.aimag_name.value }}, {{ $ctrl.soum.metadata.soum_name.value }}</h1>
    </div>

    <!-- PEOPLE Section -->
    <section>
      <div class="container">
        <h2>PEOPLE</h2>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.people.pop14" class="panel half"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.people.pchn9514" class="panel half"></adb-infoblock-view>
        </div>
        <div class="panel">
          <div class="panel-content text-center">
            Bar Graph comparing population change
          </div>
        </div>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.people.sh14" class="panel third"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.people.shch9514" class="panel third"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.people.den14" class="panel third"></adb-infoblock-view>
        </div>
      </div>
    </section>
    <!-- PEOPLE Section -->

    <!-- HOUSEHOLDS Section -->
    <section>
      <div class="container">
        <h2>HOUSEHOLDS</h2>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.households.hh14" class="panel half"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.households.chnhh614" class="panel half"></adb-infoblock-view>
        </div>
        <div class="panel">
          <div class="panel-content text-center">
            Graph comparing change in household
          </div>
        </div>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.households.hhh14" class="panel third"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.households.hpc14" class="panel third"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.households.chhpc0613" class="panel third"></adb-infoblock-view>
        </div>
      </div>
    </section>
    <!-- HOUSEHOLDS Section -->

    <!-- ECONOMY Section -->
    <section>
      <div class="container">
        <h2>ECONOMY</h2>
        <div class="flex-grid">
            <adb-infoblock-view variable="$ctrl.soum.economy.ent14" class="panel third"></adb-infoblock-view>
            <adb-infoblock-view variable="$ctrl.soum.economy.ent0014" class="panel third"></adb-infoblock-view>
            <adb-infoblock-view variable="$ctrl.soum.economy.sdi" class="panel third"></adb-infoblock-view>
        </div>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.economy.man14" class="panel"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.economy.chman0014" class="panel"></adb-infoblock-view>
          <!-- <adb-infoblock-view variable="$ctrl.soum.economy.pcpov11" class="panel"></adb-infoblock-view> -->
          <adb-infoblock-view variable="$ctrl.soum.economy.chpcpov11" class="panel" reverse-color="true"></adb-infoblock-view>
        </div>
      </div>
    </section>
    <!-- ECONOMY Section -->

    <!-- INFRASTRUCTURE Section -->
    <section>
      <div class="container">
        <h2>INFRASTRUCTURE &amp; HOUSING</h2>
        <div class="panel">
          <div class="panel-content text-center">
            Graph
          </div>
        </div>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.infrastructure.pcger10" class="panel"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.infrastructure.pcsan10" class="panel"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.infrastructure.pcwat10" class="panel"></adb-infoblock-view>
        </div>
        <div class="flex-grid">
          <adb-infoblock-view variable="$ctrl.soum.infrastructure.pcsw10" class="panel"></adb-infoblock-view>
          <adb-infoblock-view variable="$ctrl.soum.infrastructure.pcint10" class="panel"></adb-infoblock-view>
        </div>
      </div>
    </section>
    <!-- INFRASTRUCTURE Section -->
  </main>
</div>
