footer {

  @media (max-width: 910px) {
    text-align: center;
  }

  .panel {
    padding: 30px;
    text-align: center;

    .brand {
      position: relative;
      margin: -7px auto;

      > img {
        position: relative;
      }
    }
  }

  nav {
    margin: 0 auto -10px;
    display: block;
    text-align: center;

    a {
      padding: 20px;
      letter-spacing: 3px;
      font-size: 16px;
    }
  }

  .credits {
    display: block;
    list-style-type: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      color: #AFB0B5;
      font-size: 14px;

      + li {
        margin-left: 20px;
      }
    }
  }
}
