.navbar {
  @extend %clearfix;
  background: #fff;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 74px;
  border-bottom: 1px solid $navy;

  .navigation {
    display: inline-block;
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 40px;
    }

    a {
      color: $navy;
      padding: 1rem;
    }
  } 

  @media (max-width: 510px) {
    height: auto;
    text-align: center;

    .navigation {
      float: none !important;

      li:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.brand {
  display: inline-block;
  vertical-align: middle;
  padding: 1.2rem;

  > img {
    max-width: 23rem;
  }
}

.navigation {
  list-style-type: none;
  padding: 0;
}
