.tabs {
  border-right: 1px solid $navy;
  position: relative;
  z-index: 1;

  @media (max-width: 728px) {
    @extend .clearfix;
    border: none;
    border-bottom: 1px solid $navy;
  }
}

.tab {
  display: block;
  padding: 2rem;
  text-align: center;
  position: relative;
  color: rgba($text-base, .5);
  font-size: 2rem;

  &:hover {

    .tab-name {
      display: block;
    }
  }

  &.active {
    color: $border-color;
    background: $brand-primary;
  }

  @media (max-width: 728px) {
    float: left;
    width: 25%;
  }
}

.tab-name {
  position: absolute;
  width: auto;
  background: $navy;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: .5rem;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  display: none;

  &:before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-right-color: $navy;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 728px) {
      border-right-color: transparent;
      border-bottom-color: $navy;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 728px) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    //margin-top: 5px;
  }
}

.tab-panes {
  flex: 1;
  overflow: auto;

  @media (max-width: 728px) {
    flex: none;
    border-bottom: 1px solid #00256C;
  }
}

.tab-pane {
  padding: 2rem;
  display: none;

  &.active {
    display: block;
  }

  @media (max-width: 728px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.tab-pane-heading {
  margin: 1rem 0 1.5rem
}

.tab-pane-body {
  margin-bottom: 2rem;
}

