
.icon-eastasia:before { content: '\e800'; } /* '' */
.icon-mongolia:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */
.icon-group:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-bus:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-arrow-left:before { content: '\e80a'; } /* '' */
.icon-down:before { content: '\e80b'; } /* '' */
.icon-up:before { content: '\e80c'; } /* '' */